[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
flask-bcrypt = "*"
python-dotenv = "*"
requests = "*"
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "3.10"
